{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Proveedores</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{% url 'suppliers:supplier_create' %}" class="btn btn-sm btn-outline-primary">Nuevo Proveedor</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.phone }}</td>
                <td>{{ supplier.email }}</td>
                <td>
                    <a href="{% url 'suppliers:supplier_update' pk=supplier.pk %}"
                        class="btn btn-sm btn-outline-secondary">Editar</a>
                    <a href="{% url 'suppliers:supplier_delete' pk=supplier.pk %}"
                        class="btn btn-sm btn-outline-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}